.contacts{
    background-color: gray;
    margin-left: 30%
}

.chatBox{
    margin-top: 20%;
    height: 700px !important;
    -webkit-overflow-scrolling: touch;
    overflow-y:scroll;
    
}
.Recent_box {
    background: #6c757d   !important;
}
.oldMsg {

 
    background: #f8f8f844 none repeat scroll 0 0  !important;
    height: 700px !important;
    margin-bottom: 20px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
  }



 .inbox_people {
  background: #f8f8f844 none repeat scroll 0 0  !important;
  height: 700px !important;

  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}


.chatHistory {
    background: #f8f8f844 none repeat scroll 0 0  !important;
    height: 700px !important;
    margin-top: 30px;
    margin-bottom: 20px;
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
   
}




.oldMsg_Cont{
    background: #f8f8f8 none repeat scroll 0 0  !important;
    
}
.chat-title {

    color: #7554a0;
    font-weight: 800;
    font-size: 24px;
  }
.chatImage {
    height: 40px;
    width: 40px;
}
.msg{

    height: 60px;
}