.vcontainer{
    position: fixed;
  top: 50%;
  left: 50%;
  
  /* bring your own prefixes */
  transform: translate(-20%, -70%);
  

}

.outer {
  height: 700px;

}

.LoginContainer {
  
  position: fixed;
  top: 55%;
  left: 30%;
  
  /* bring your own prefixes */
  transform: translate(-20%, -60%);
}
.LoginCard {

  height: 700px;
  background-color : white;
}

.loginForm{
  position: fixed;
  top: 60%;
  right: 10%;
  
  
}
.logo {
  height: 697px;
  width: 645px;

 
}

.cardcolor {
  background-color: #0f0f0e !important;
}
